<template name="mobileChat">
    {{> topBar}}

    {{> chat}}
</template>

<template name="chat">
    {{#if currentUser}}
    <div id="currentChat" class='chatBox{{#if isMobileSize}} fullScreen{{/if}}'>
        <div class='chatTop'>
            <div class="profileImageSmall">{{{userPictureElement recipient true}}}</div>
            <span class="recepientName">{{recipientName}}</span>
            <span id="closeChatMobile">×</span>
        </div>
        <div class='chatArea'>
            <ul class='messages'>
                {{#each messageGroups}}
                <li class='messageGroup {{#if iAm author}}owner{{/if}}'>
                    <span class="triangle"></span>
                    {{#each messages}}
                    <div class="message">
                        {{convertUrls text}}
                    </div>
                    {{/each}}
                    <span class='time'>{{calendarTime last}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="chatBottom">
            <textarea placeholder="Type message"></textarea>
            <div class="profileImageSmall senderImage">{{{currentUserPictureElement false}}}</div>
            <span class="textAreaArrow"></span>
        </div>
    </div>
    {{/if}}
</template>