<!--if not an admin, only include change team and leave team functionality-->
<template name="teamSettingsView">
    {{> topBar}}
    <div id="teamWrapper" data-role="page">
        <div id="teamSettings" class="page">
            <h1>Team Settings</h1>

            <div data-role="fieldcontain">
                <label class="h2" for="teamSelect">Members</label>
                <a id="openInviteMember" class="green login-button">Invite New Member to Team</a>

                <div id="inviteMemberPopup">
                    <input type="text" placeholder="email"/>
                    <button id="inviteMember">Add</button>
                    <button id="closeInviteMember">Cancel</button>
                </div>
            </div>

            <br/>

            <div class="tableWrapper">
                {{> membersGrid}}
            </div>

            <br/>

            <div data-role="fieldcontain">
                <label class="h2" for="teamSelect">Team</label>
                <a id="openNewTeamPopup" data-rel="popup" class="green login-button">Add New</a>

                <div id="newTeamPopup">
                    <input type="text" placeholder="email"/>
                    <button id="addTeam">Add</button>
                    <button id="closeNewTeam">Cancel</button>
                </div>
            </div>

            <div data-role="fieldcontain">
                <label for="teamSelect">Current Team:</label>
                <select name="teamSelect" id="teamSelect">
                    <option value="foundops">FoundOPS</option>
                    <option value="ateam">A-Team</option>
                </select>
            </div>

            <div data-role="fieldcontain">
                <label for="teamName">Name:</label>
                <input type="text" id="teamName"/>
            </div>

            <button id="leaveTeam" class="yellow">Leave This Team</button>
            <br/>
            <button id="deleteTeam" class="yellow">Delete This Team</button>
        </div>
    </div>
</template>

<template name="membersGrid">
    <table id="membersTable" data-role="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each members}}
        <tr>
            <th class="name">{{Name}}</th>
            <td>{{Email}}</td>
            <td>
                <label for="memberRole" class="select"></label>
                <select name="memberRole" id="memberRole">
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                </select>
            </td>
            <td>
                {{Status}}
                {{#if statusIs "Invited"}}
                <a href="">(resend)</a>
                {{/if}}
            </td>
            <td><span></span><a href="">Remove</a></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>