<!--if not an admin, only include change team and leave team functionality-->
<template name="teamSettingsView">
    {{> topBar}}
    <div id="teamWrapper">
        <div id="teamSettings">
            <h1>Team Settings</h1>

            <div id="newMembersWrapper" data-role="fieldcontain">
                <label class="h2" for="openInviteMember">Members</label>
                <button id="openInviteMember" name="openInviteMember" data-theme="g">Invite a new member to
                    {{currentTeamName}}
                </button>

                {{#template template='inputPopup' id='inviteMemberPopup' title='New Member' acceptId='inviteMember' acceptText='Invite'}}
                <input type="text" placeholder="email" class="email"/>
                <div id="memberEmailSuggestion" class="emailSuggestion">Did you mean: <span></span></div>
                {{/template}}
            </div>

            <div class="tableWrapper">
                {{> membersGrid}}
            </div>

            <br/>

            <div data-role="fieldcontain" id="newTeamWrapper">
                <label class="h2" for="openNewTeamPopup">Team</label>
                <button id="openNewTeamPopup" name="openNewTeamPopup" data-theme="g">Start a new team</button>
            </div>

            {{#template template='inputPopup' id='newTeamPopup' title='New Team' acceptId='addTeam' acceptText='Add'}}
            <input type="text" placeholder="name"/>
            {{/template}}

            <div data-role="fieldcontain" id="currentTeamWrapper">
                <label for="currentTeam">Current Team:</label>
                {{> currentTeamSelect }}
                <button id="openRenameTeamPopup" name="openRenameTeamPopup" data-theme="g">Rename</button>
            </div>

            {{#template template='inputPopup' id='renameTeamPopup' title='Rename Team' acceptId='renameTeam' acceptText='Rename'}}
            <input type="text" placeholder="name"/>
            {{/template}}`
            <br/>

            <!--TODO: make team name dynamic. ex: "Leave FoundOPS" and "Delete FoundOPS"-->
            <!--TODO: show leave button only if member-->
            <button id="leaveTeam" data-theme="y">Leave this team</button>
            <!--TODO: show delete button only if admin-->
            <button id="deleteTeam" data-theme="y">Delete this team</button>
        </div>
    </div>
</template>

<template name="currentTeamSelect">
    <select name="currentTeam" id="currentTeam">
        {{#each teams}}
        <option value="{{_id}}"
        {{isCurrentTeamSelected _id}}>{{name}}</option>
        {{/each}}
    </select>
</template>

<template name="membersGrid">
    <table id="membersTable" data-role="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each members}}
        <tr>
            <th class="name">{{name}}</th>
            <td>{{email}}</td>
            <td>
                <label for="memberRole" class="select"></label>
                <select name="memberRole" id="memberRole" data-id="{{id}}">
                    <option value="0">Admin</option>
                    <option value="1">Member</option>
                </select>
            </td>
            <td>
                {{status}}
                {{#if statusIs "Invited"}}
                <a href="">(resend)</a>
                {{/if}}
            </td>
            <td><a href="">Remove</a></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>