<!--if not an admin, only include change team and leave team functionality-->
<template name="teamSettingsView">
    {{> topBar}}
    <div id="teamWrapper" data-role="page">
        <div id="teamSettings" class="page">
            <h1>Team Settings</h1>

            <div data-role="fieldcontain">
                <label class="h2" for="openInviteMember">Members</label>
                <button id="openInviteMember" name="openInviteMember" data-theme="g">Invite a new Member to {{currentTeam}}</button>

                <div id="inviteMemberPopup"  class="ui-content">
                    <input type="text" placeholder="email"/>
                    <button id="inviteMember" data-theme="g">Invite</button>
                    <button id="closeInviteMember" data-theme="y">Cancel</button>
                </div>
            </div>

            <br/>

            <div class="tableWrapper">
                {{> membersGrid}}
            </div>

            <br/>

            <div data-role="fieldcontain">
                <label class="h2" for="openNewTeamPopup">Team</label>
                <button id="openNewTeamPopup" name="openNewTeamPopup" data-theme="g">Start a new Team</button>

                <div id="newTeamPopup"  class="ui-content">
                    <input type="text" placeholder="name"/>
                    <button id="addTeam" data-theme="g">Add</button>
                    <button id="closeNewTeam" data-theme="y">Cancel</button>
                </div>
            </div>

            <div data-role="fieldcontain">
                <label for="teamSelect">Current Team:</label>
                <select name="teamSelect" id="teamSelect">
                    <option value="foundops">FoundOPS</option>
                    <option value="ateam">A-Team</option>
                </select>
            </div>

            <div data-role="fieldcontain">
                <label for="teamName">Name:</label>
                <input type="text" id="teamName"/>
            </div>

            <button id="leaveTeam" data-theme="y">Leave This Team</button>
            <button id="deleteTeam" data-theme="y">Delete This Team</button>
        </div>
    </div>
</template>

<template name="membersGrid">
    <table id="membersTable" data-role="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {{#each members}}
        <tr>
            <th class="name">{{Name}}</th>
            <td>{{Email}}</td>
            <td>
                <label for="memberRole" class="select"></label>
                <select name="memberRole" id="memberRole">
                    <option value="member">Member</option>
                    <option value="admin">Admin</option>
                </select>
            </td>
            <td>
                {{Status}}
                {{#if statusIs "Invited"}}
                <a href="">(resend)</a>
                {{/if}}
            </td>
            <td><a href="">Remove</a></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>