<!--if not an admin, only include change team and leave team functionality-->
<template name="teamView">
    {{> topBar}}
    <div id="team" class="page">
        <h1>Team Settings</h1>
        <label for="teamSelect">Team:</label>
        <select name="teamSelect" id="teamSelect">
            <option value="newTeam">Add New</option>
        </select>

        <br />

        <label>Name:</label>
        <input type="text" class="teamName" />
        <h2>Members</h2>

        <label>Add New:</label>
        <input type="text" class="addName" />
        <button class="addName">Invite</button>

        <br />
        <br />

        {{> grid}}

        <br />
        <br />
        <button id="leaveTeam">Leave this Team</button>
        <button id="deleteTeam">Delete this Team</button>
    </div>
</template>

<template name="grid">
    <table data-role="table" data-mode="reflow" class="ui-responsive table-stroke ui-table ui-table-reflow">
        <thead>
            <tr><th>Name</th><th>Email</th><th>Role</th><th>Status</th><th></th></tr>
        </thead>
        <tbody>
            {{#each members}}
                <tr>
                    <td><span class="ui-table-cell-label">Name</span>{{Name}}</td>
                    <td><span class="ui-table-cell-label">Email</span>{{Email}}</td>
                    <td>
                        <span class="ui-table-cell-label">Role</span>
                        <label for="memberRole" class="select"></label>
                        <select name="memberRole" id="memberRole">
                            <option value="member">Member</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                    <td>
                        <span class="ui-table-cell-label">Status</span>{{Status}}
                        {{#if statusIs "Invited"}}
                            <a href="#">(resend)</a>
                        {{/if}}
                    </td>
                    <td><span class="ui-table-cell-label"></span><a href="#">Remove</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>