<template name="inputPopup">
    <div id="{{id}}" class="ui-content" data-role="popup" data-theme="a" data-overlay-theme="a" data-dismissible="false">
        <h2>{{title}}</h2>
        {{{content}}}
        <a class="cancel" data-role="button" data-theme="y">Cancel</a>
        <button id="{{acceptId}}" class="acceptButton" data-theme="g">{{acceptText}}</button>
    </div>
</template>

<template name="alertPopup">
    <div id="{{id}}" class="ui-content">
        {{{content}}}
        <a href="#" data-rel="back" data-role="button" data-theme="y" class="acceptButton">OK</a>
    </div>
</template>